API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
ASSISTANT_SESSION=your_pyrogram_user_session
OWNER_ID=7915543522
BOT_NAME=⚝ 𝐏ʀɪᴍᴇ ꭗ 𝐁ᴇᴀᴛѕ ᯤ
MAX_QUEUE=100
DEFAULT_VOLUME=100
AUTOPLAY_DEFAULT=true
DISCOVERY_BATCH=10
PLAYLIST_LIMIT=50
PORT=10000
SUPPORT_GROUP=@SPARK_X_NETWORK
SUPPORT_CHANNEL=@SPARK_X_NETWORK_OP
OFFICIAL_CHANNEL=@Prime_Arrived
SUPPORT_GROUP_ID=-1003448289523
SUPPORT_CHANNEL_ID=-1003809899413
OFFICIAL_CHANNEL_ID=-1003587739198
